<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.ShoppingrecordMapper">

<!--    <resultMap id="shoppingrecordResultMap" type="shoppingrecord">-->
<!--        <result property="goodsName" column="goods_name" />-->
<!--        <result property="brandName" column="brand_name" />-->
<!--    </resultMap>-->

</mapper>